#code-rain-container {
    /*... other styles... */
    font-size: 24px;
    width: 100vw;
    letter-spacing: 10px; /* Adjust as needed */
}.matrix-code {
    animation: matrix-rain 2s linear forwards;
    display: inline-block; /* Make characters flow individually */
    animation-duration: 1s; /* Adjust the duration as needed */
}

@keyframes matrix-rain {
    0% { transform: translateY(-100%); opacity: 0; } /* Start from top */
    20% { opacity: 1; } /* Fade in */
    80% { opacity: 1; } /* Fade out */
    100% { transform: translateY(100%); opacity: 0; } /* End at bottom */
}
